#diagnosis-results
    clear both


#diagnose-button, .diagnosed-symptom-list, .diagnosed-disease-list
    float right
    margin 5px

.diagnosed-symptom-list
    text-align right

.diagnosed-disease-list
    text-align left

.diagnosed-disease
    padding 1px 5px

.svm-result
     border 3px solid black