#diagnosis-results
    clear both


#diagnose-button, .diagnosed-symptom-list, .diagnosed-disease-list
    float right
    margin 5px

.diagnosed-symptom-list
    text-align right

.diagnosed-disease-list
    text-align left