body
  background #eee
  color #666

.navbar
  margin-bottom 10px

.navbar .navbar-inner
  border-radius 0px 0px 3px 3px

.wrapper, #resources-list-wrapper
  overflow auto
.wrapper
  overflow-wrap break-word

.resource-list-item
  margin-right 20px


.wrapper .diagnosis
  clear both
  text-align right
  padding-right 20px
  padding-bottom 20px
  

