.portfolio, .build-button
  margin 5px
  width 150px
  height 100px
  overflow hidden
  position relative

.portfolio-report-count
  position absolute
  bottom 5px
  right 10px

.table .resources
  text-align right

.table-hover td
  cursor pointer