#selected-resource
  line-height 25px

#selected-resource .tag-container
  display inline-block
  cursor pointer

#selected-resource .tag-category
  position relative
  top 5px
  left 0px
  text-align center