.resource-list-item
  background #fff
  border-radius 3px
  padding 10px
  margin-bottom 10px
  box-shadow 0 1px 1px rgba(0, 0, 0, 0.15)
  position relative
  opacity 1

.resource-list-item.selected
  background #d8e0f2

.portfolio-title
  margin 10px
  margin-right 15px