.tag
  border 1px solid
  margin 3px
  padding 2px
  cursor pointer

.suggested-tags
  margin-top 50px

.accept-tag, .reject-tag
  padding 3px

.tag.label:not(.highlighted)
  background-color #cccccc

.tag-heading
  float right
  margin 10px 0px
  border-top 2px solid #222222

.tag-heading *
  float left
  padding 5px

.tag-heading h5
  line-height 0px

.suggested-tags>*
  float right

.reviewed
  float right
  margin-bottom 20px
  cursor pointer

.reviewed input
  position relative
  top -4px