<template name="diagnosis">
    <div class="diagnosis">
        <button id="diagnose-button" class="btn btn-primary">Diagnose</button>
        <div id="diagnosis-results"></div>
    </div>
</template>

<template name="diagnosisResults">

    <div class="diagnosed-disease-list">
        {{#each diseases}}
            {{#if svm}}
                <div class="diagnosed-disease svm-result">
            {{else}}
                <div class="diagnosed-disease">
            {{/if}}
                {{#each symptoms}}
                    <span style="background-color:{{color}}">&nbsp;&nbsp;</span>
                {{/each}}
                <span>{{name}}</span>
            </div>
        {{else}}
            No results
        {{/each}}
    </div>

    <div class="diagnosed-symptom-list">
        {{#each allSymptoms}}
            <div class="label diagnosed-symptom" style="background-color:{{color}}">{{this}}</div>
        {{/each}}
    </div>

    <div class="post-diagnosis-buttons">
        <a target="_blank" class="btn btn-primary btn-large" href="http://54.237.77.59:3000/grits-vis/decision-tree?symptoms={{symptomList}}">View Pathognomonic Decision Tree</a>
    </div>
</template>
