<head>
  <title>Portfolio Manager</title>
</head>

<template name="layout">
  <div class="container">
    <header class="navbar">
      <div class="navbar-inner">
        <a class="brand" href="/">
          <div class="brand-column">p</div>
          <div class="brand-column">
            <div class="brand-row">roMED</div>
            <div class="brand-row">ortfolio</div>
          </div>
          <div class="brand-column">m</div>
          <div class="brand-column">
            <div class="brand-row">ail</div>
            <div class="brand-row">anager</div>
          </div>
        </a>
      </div>
    </header>
    <div class="container-fluid">
        {{yield}}
    </div>
  </div>
</template>
