<template name="resource">
    {{#if isResourceSelected}}
        {{#each selectedResourceWords}}
            {{#if highlighted this}}
                <div class="tag-container">
                  <div class="tag-category">
                    <span class="label">{{category}}&nbsp;&nbsp;
                        <span class="remove-tag">&times;</span>
                    </span>
                  </div>
                  <span class="tag label" style="background-color:{{color}}">{{word}}</span>
                </div>
            {{else}}
                {{word}}
            {{/if}}
        {{/each}}
    {{else}}
        {{#with selectedPortfolio}}
            <h4><a class="btn btn-large btn-primary" target="_blank" href="{{pathFor 'exportPortfolio'}}">Export JSON portfolio metadata</a></h4>
            <h4><a class="btn btn-large btn-primary" target="_blank" href="{{pathFor 'exportGraph'}}">Export JSON graph</a></h4>
            <h4><a class="btn btn-large btn-primary" target="_blank" href="{{pathFor 'exportNodes'}}">Export JSON nodes</a></h4>
        {{/with}}
        or
        <h4><-- Select a resource</h4>
        <br />
        <h3>Portfolio Metadata</h3>
        <div>
            {{#with selectedPortfolio}}
                Progress: {{reviewedCount}}/{{totalCount}} resources reviewed
            {{/with}}
        </div>
        <br />
        {{#with selectedPortfolio}}
            {{> portfolioMetadata}}
        {{/with}}
    {{/if}}
</template>
