<template name="resource">
    {{#if selectedResourceId}}
        {{annotatedSelectedResource.content}}
    {{else}}
        <h3>Portfolio Metadata</h3>
        <div>
            {{#with selectedPortfolio}}
                Progress: {{reviewedCount}}/{{totalCount}} resources reviewed
                <div class="progress-bar-outer">
                    <div class="progress-bar-inner" style="width:{{progressBarLength}}"></div>
                </div>
            {{/with}}
        </div>
        <br />
        {{#with selectedPortfolio}}
            {{> portfolioMetadata}}
        {{/with}}

        <br />
        <br />
        {{#with selectedPortfolio}}
            <h4><a class="btn btn-large btn-primary" target="_blank" href="{{pathFor 'exportPortfolio'}}">Export JSON portfolio metadata</a></h4>
            <h4><a class="btn btn-large btn-primary" target="_blank" href="{{pathFor 'exportGraph'}}">Export JSON graph</a></h4>
            <h4><a class="btn btn-large btn-primary" target="_blank" href="{{pathFor 'exportNodes'}}">Export JSON nodes</a></h4>
        {{/with}}
    {{/if}}
</template>
