<template name="tagList">
    {{#if showTagList}}
        <h3>Resource Tags</h3>
        <select id="add-tag-category" class="span2">
            <option value="symptom">Symptom</option>
            <option value="disease">Disease</option>
        </select>
        <div class="input-append">
            <input class="span2" id="add-tag-text" type="text" data-provide="typeahead">
            
            <button class="btn" id="add-tag-button" type="button">Add</button>
        </div>
         {{#if tags}}
            <div class="tag-heading">
                <button id="hide-all-reviewed-tags" class="btn btn-small">Hide all</button>
                <h5>Reviewed Tags</h5>
                <button id="show-all-reviewed-tags" class="btn btn-small">Show all</button>
            </div>
            <div>
                {{#each tags}}
                    {{#if highlighted this}}
                         <span class="tag label highlighted reviewed-tag" style="background-color:{{color}}" tag="{{this}}"><span class="tag-text">{{this}}</span>&nbsp;&nbsp;<span class="remove-tag">&times;</span></span>
                    {{else}}
                         <span class="reviewed-tag tag label" tag="{{this}}"><span class="tag-text">{{this}}</span>&nbsp;&nbsp;<span class="remove-tag">&times;</span></span>
                    {{/if}}
                {{/each}}
            </div>
        {{/if}}
        <div class="tag-heading">
            <button id="hide-all-candidate-tags" class="btn btn-small">Hide all</button>
            <h5>Candidate Tags</h5>
            <button id="show-all-candidate-tags" class="btn btn-small">Show all</button>
        </div>
        {{#each categories}}
            {{#with categoryTags this}}
                {{#if this}}
                <div class="autotag-container">
                     <h5>Candidate {{../../this}} tags&nbsp;&nbsp;<button class="accept-all-auto-tags btn btn-primary btn-mini">Accept all</button></h5>
                    {{#each this}}
                        {{#if highlighted this}}
                            <span class="tag label auto-tag highlighted" style="background-color:{{color}}" tag="{{this}}"><span class='tag-text'>{{this}}</span>&nbsp;&nbsp;<span class="remove-tag">&times;</span></span>
                        {{else}}
                            <span class="tag label auto-tag" tag="{{this}}"><span class='tag-text'>{{this}}</span>&nbsp;&nbsp;<span class="remove-tag">&times;</span></span>
                        {{/if}}
                    {{/each}}
                </div>
                {{/if}}
            {{/with}}
        {{/each}}

        <div class="suggested-tags">
            {{#with suggestedTags}}
                <div class="tag-heading">
                    <h5>Suggeted Tags</h5>
                </div>
            {{#if top}}
                <div>
                    {{#each top}}
                        {{#if highlighted this}}
                            <span class="tag label highlighted suggested-tag" style="background-color:{{color}}">{{this}}</span>
                        {{else}}
                            <span class="tag label suggested-tag">{{this}}</span>
                        {{/if}}
                    {{/each}}
                </div>
            {{/if}}
            <br><br>
            {{#if linked}}
                <h5>From linked reports</h5>
                <div>
                    {{#each linked}}
                        {{#if highlighted this}}
                             <span class="tag label highlighted suggested-tag" style="background-color:{{color}}">{{this}}</span>
                        {{else}}
                            <span class="tag label suggested-tag">{{this}}</span>
                        {{/if}}
                    {{/each}}
                </div>
            {{/if}}
            {{#if recent}}
                <h5>Recently used</h5>
                <div>
                    {{#each recent}}
                        {{#if highlighted this}}
                             <span class="tag label highlighted suggested-tag" style="background-color:{{color}}">{{this}}</span>
                        {{else}}
                            <span class="tag label suggested-tag">{{this}}</span>
                        {{/if}}
                    {{/each}}
                </div>
            {{/if}}
            {{#if popular}}
                <h5>Popular</h5>
                <div>
                    {{#each popular}}
                        {{#if highlighted this}}
                             <span class="tag label highlighted suggested-tag" style="background-color:{{color}}">{{this}}</span>
                        {{else}}
                            <span class="tag label suggested-tag">{{this}}</span>
                        {{/if}}
                    {{/each}}
                </div>
            {{/if}}
            {{#if words}}
                <h5>From words in report</h5>
                <div>
                    {{#each words}}
                        {{#if highlighted this}}
                             <span class="tag label highlighted suggested-tag" style="background-color:{{color}}">{{this}}</span>
                        {{else}}
                            <span class="tag label suggested-tag">{{this}}</span>
                        {{/if}}
                    {{/each}}
                </div>
            {{/if}}
            {{/with}}
        </div>
    {{/if}}
</template>
