<template name="tagList">
    {{#if isResultSelected}}
        <h3>Tags</h3>
        <div class="input-append">
            <input class="span2" id="add-tag-text" type="text" data-provide="typeahead">
            <button class="btn" id="add-tag-button" type="button">Add</button>
        </div>
        <div>
            {{#each tags}}
                <span class="tag label" style="background-color:{{color}}" tag="{{this}}">{{this}}&nbsp;&nbsp;<span class="remove-tag">&times;</span></span>
            {{/each}}
        </div>
        <div class="suggested-tags">
            {{#with suggestedTags}}
            <h4>Suggested Tags</h4>
            {{#if top}}
                <div>
                    {{#each top}}
                        <span class="tag label suggested-tag" style="background-color:{{color}}">{{this}}</span>
                    {{/each}}
                </div>
            {{/if}}
            <br><br>
            {{#if linked}}
                <h5>From linked reports</h5>
                <div>
                    {{#each linked}}
                        <span class="tag label suggested-tag" style="background-color:{{color}}">{{this}}</span>
                    {{/each}}
                </div>
            {{/if}}
            {{#if recent}}
                <h5>Recently used</h5>
                <div>
                    {{#each recent}}
                        <span class="tag label suggested-tag" style="background-color:{{color}}">{{this}}</span>
                    {{/each}}
                </div>
            {{/if}}
            {{#if popular}}
                <h5>Popular</h5>
                <div>
                    {{#each popular}}
                        <span class="tag label suggested-tag" style="background-color:{{color}}">{{this}}</span>
                    {{/each}}
                </div>
            {{/if}}
            {{#if words}}
                <h5>From words in report</h5>
                <div>
                    {{#each words}}
                        <span class="tag label suggested-tag" style="background-color:{{color}}">{{this}}</span>
                    {{/each}}
                </div>
            {{/if}}
            {{/with}}
        </div>
    {{/if}}
</template>